@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca:wght@400;700&display=swap");
$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
$main-heading-stats: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-heading: hsla(0, 0%, 100%, 0.6);
$font-Inter: "Inter", sans-serif;
$font-Lexend-Deca: "Lexend Deca", sans-serif;
$border-radius: 10px;
* {
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	min-width: 1250px;
	min-height: 500px;
}

body {
	background-color: $main-background;
}

main {
	height: inherit;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: inherit;
	height: inherit;
}

#card {
	width: 80vw;
	height: 450px;
	max-width: 1200px;
	min-width: 1000px;
	background-color: $card-background;
	border-radius: $border-radius;
	display: flex;
	#content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 60px;
		padding-right: 50px;
		div {
			h1 {
				font-family: $font-Inter;
				font-size: 700;
				color: $main-heading-stats;
				span {
					color: $accent;
				}
			}
			p {
				position: relative;
				top: 20px;
				color: $main-paragraph;
				font-family: $font-Lexend-Deca;
				font-size: 400;
				line-height: 25px;
			}
		}
		#enroll {
            width: 90%;
			display: flex;
			justify-content: space-between;
			text-transform: uppercase;
			position: relative;
			bottom: 20px;
			p {
				color: $stat-heading;
				display: flex;
				flex-direction: column;
                font-size: 15px;
			}
			span {
				color: $main-heading-stats;
				font-size: 27px;
				font-family: $font-Inter;
                font-weight: 700;
			}
            
			p:nth-child(1) span {
				text-transform: none;
			}
		}
	}
	#desktop-image {
		height: 100%;
		width: 100%;
		border-radius: 0 $border-radius $border-radius 0;
		background-image: url("./images/image-header-desktop.jpg");
		background-size: cover;
        background-color: #6db3f6;
        position: relative;
	}
	#mobile-image {
		height: 40%;
		max-width: 100%;
		border-radius: $border-radius $border-radius 0 0;
		background-image: url("./images/image-header-mobile.jpg");
        background-color: $accent;
		background-size: 100% 100%;
        background-repeat: no-repeat;
		display: none;
	}

        .image::after {
            content: '';
            background-color: $accent;
            opacity: 60%;
            width: 100%;
            height: 100%;
            display: block;
            border-radius: inherit;
        }
}

@media (max-width: 728px) {
	html,
	body {
		min-height: 800px;
		min-width: 400px;
	}
	main,
	.container {
		height: inherit;
	}
	#card {
		flex-direction: column;
		height: 90%;
		max-height: none;
        min-height: 600px;
		min-width: 300px;
        max-width: 350px;
		text-align: center;
		#content {
			justify-content: space-between;
			height: 80%;
            margin: 30px;
            padding-right: 0;
			#enroll {
				top: 10px;
                height: 60%;
				flex-direction: column;
				justify-content: space-around;
                align-items: center;
			}
		}
		#desktop-image {
			display: none;
		}
		#mobile-image {
			display: block;
		}
	}
}
